.root {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #F3F6F9;
}

.drawerDiv {
    height: 100%;
}

.frame {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.frame-content {
    display: flex;
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.paper-question {
    padding: 0px;
    margin: 10px 20px 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 0px;
    overflow: hidden;
    perspective: 1px;
    background-color: #ffffff;
}

.papar-question-content {
    margin: 15px;
}

.papar-answer-content {
    margin: 5px 15px 5px 15px;
}

.paper-question-divider {
    border: 0px; 
    border-top: 1px solid #eeeeee;
}

.paper-answer-divider {
    border: 0px; 
    border-top: 1px solid #fafafa;
}

.inning-div {
    border: 1px solid #dddddd;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 15px 0px 15px 0px;
    padding: 10px 20px 10px 20px;
}

.hstyle {
    width: 300px;
    color: black;
    background-color: white;
    font-family: Arial;
    display: flex;
    justify-content: left;
    padding: 50px;
}
.stylestxt1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.stylestxt2 {
    font-size: 12px;
    color: #444444;
    font-weight: bold;
    padding: 6px 4px 6px 4px;
}
.stylestxt3 {
    margin: 0px 4px 4px 4px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 12px;
    padding: 8px 12px 8px 12px;
    background-color: #F6F8FA;
}
.stylestxt4 {
    font-size: 12px;
    height: 20px;
    color: #888888;
    padding: 4px 4px 12px 4px;
}
.stylesbtn {
    line-height: 2;
    margin-top: 15;
    margin-left: 100;
}

.info-group {
    margin-bottom: 18px;
}

.info-header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.info-content {
    font-size: 16.5px;
}

.flex-parent {
    display: flex;
    align-items: center;
    padding: 14px;
}

.flex-header {
    width: 80px;
}

.flex-content {
    display: flex;
    flex: 1;
}

.btn-submit {
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background: #6EB3D3 !important;
    color: #ffffff !important;
}

.bd-bottom-default {
    border-bottom: 1px solid #eeeeee;
}

.w-p-100 {
    width: 100%;
}